# ------------------------------------------------------------
# Build outputs
#
# stagingのGitHub ActionsがCSSをコミットするため
# ------------------------------------------------------------
node_modules/*
/src/styles/*.css
/src/styles/*.css.map

# ------------------------------------------------------------
# OS
# ------------------------------------------------------------
.DS_Store
Thumbs.db
