.loading-lock {
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: hidden;
    top: 0;
}

#loading {
    /* DEBUG - 削除 */
    /* display: none !important; */

    position: fixed;
    top: 0;
    left: 0;
    width: 100dvw;
    width: 100vw;
    height: 100dvh;
    height: 100vh;
    background-color: var(--color-primary);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

#loading #icon {
    width: 5rem;
    height: 5rem;
}

#loading #yearCount {
    color: var(--color-accent);
    font-size: 5rem;
    font-weight: bold;
}

main #keyVisual {
    width: 100dvw;
    width: 100vw;
    height: 100dvh;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    position: relative;
}

main #keyVisual #keyVisualLogoBox {
    padding: .25rem 1rem;
    background-color: #fcfcfc;
    border-radius: .25rem;
}

main #keyVisual #keyVisualContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    z-index: 10;
    padding: 1rem;
}

main #keyVisual #keyVisualContent img {
    width: 35dvh;
}

main #keyVisual #keyVisualContent h2 {
    margin: 0;
    font-size: 2rem;
    display: flex;
    flex-wrap: wrap;
}

main #keyVisual #keyVisualContent p {
    margin: 0;
    font-size: 1.25rem;
    word-break: break-word;
}

main #keyVisual .cloud {
    position: absolute;
    width: 25dvw;
    width: 25vw;
    z-index: 5;
}
main #keyVisual .cloud#keyVisualCloud1 {
    top: 10dvh;
    top: 10vh;
    left: 0;
    transform: translateX(-25%);
}

main #keyVisual .cloud#keyVisualCloud2 {
    bottom: 10dvh;
    bottom: 10vh;
    right: 0;
    transform: translateX(25%);
}

main section:not(#keyVisual) .heading {
    text-align: center;
}
main section:not(#keyVisual) .heading h2 {
    text-align: center;
    position: relative;
    display: inline-block;
    padding: 0 calc(1rem + 45px);
}
main section:not(#keyVisual) .heading h2::before,
main section:not(#keyVisual) .heading h2::after {
    content: '';
    position: absolute;
    top: 50%;
    display: inline-block;
    width: 45px;
    height: 2px;
    background-color: var(--color-accent);
}
main section:not(#keyVisual) h2::before {
    left: 0;
}
main section:not(#keyVisual) h2::after {
    right: 0;
}
main section:not(#keyVisual):nth-child(odd) .heading h2::before,
main section:not(#keyVisual):nth-child(odd) .heading h2::after {
    background-color: #fcfcfc;
}

main #about {
    text-align: center;
}

main #about #aboutContent video {
    margin: 0 1rem .5rem 0;
    width: 50%;
}

main #about #aboutContent p {
    margin: .5rem 0;
}

main #about #links {
    margin-top: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    margin-bottom: .25rem;
}

main #about #links a {
    border: 1px solid var(--color-accent);
    border-radius: .25rem;
    text-decoration: none;
    background-color: #fcfcfc;
    color: var(--color-accent);
    transition: .5s all ease-in-out;
    padding: .25rem 1rem;
}

main #about #links a:hover {
    background-color: var(--color-accent);
    color: #fcfcfc;
}

main #about #externalLinkMessage {
    color: #444444;
}

main #event #eventContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
}

main #event #eventContainer .event-box {
    width: calc((100% / 3) - 1rem);
    border-radius: .5rem;
    border: .25rem solid #fcfcfc;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
}

main #event #eventContainer .event-box img {
    width: 100%;
    display: block;
    border-top-left-radius: calc(.5rem - .25rem);
    border-top-right-radius: calc(.5rem - .25rem);
}

main #event #eventContainer .event-box .event-body {
    padding: .5rem;
    background-color: #fcfcfc;
    border-bottom-left-radius: calc(.5rem - .25rem);
    border-bottom-right-radius: calc(.5rem - .25rem);
}

main #event #eventContainer .event-box .event-body * {
    margin: 0;
    font-family: var(--font-gothic);
    color: #444444;
}

main #event #eventContainer .event-box .event-body p {
    text-align: end;
}

main #event #eventContainer .event-box.next {
    position: relative;
    border-color: var(--color-accent);
}
main #event #eventContainer .event-box.next .next-badge {
    position: absolute;
    top: 0;
    right: 0;
    border: .125rem solid #fcfcfc;
    width: 3rem;
    height: 3rem;
    margin: .5rem;
    border-radius: 100%;
    background-color: #b48c2abf;
    color: #fcfcfc;
    font-weight: bold;
    align-content: center;
    text-align: center;
}

main #comment #commentContainer {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 3rem;
}
main #comment #commentContainer .comment-box {
    display: flex;
    justify-content: center;
    align-items: start;
    gap: .5rem;
    width: 100%;
}

main #comment #commentContainer .comment-box img {
    width: 8rem;
}

main #comment #commentContainer .comment-box .comment-body {
    width: 50%;
}
main #comment #commentContainer .comment-box .comment-body .comment-author {
    margin-bottom: .5rem;
    display: flex;
    justify-content: start;
    align-items: end;
    gap: .5rem;
    padding-bottom: .25rem;
    border-bottom: .25rem solid var(--color-accent);
}

main #comment #commentContainer .comment-box .comment-body .comment-author h3 {
    margin: 0;
}

main #comment #commentContainer .comment-box .comment-body .comment-content p {
    margin-top: 0;
    margin-bottom: .25rem;
}
main #comment #commentContainer .comment-box .comment-body .comment-content p:last-child {
    margin-bottom: 0;
}

@media (max-width: 767px) {
    main #about #aboutContent video {
        width: 100%;
    }

    main #event #eventContainer .event-box {
        width: 100%;
    }

    main #comment #commentContainer .comment-box {
        flex-direction: column;
        align-items: center;
    }

    main #comment #commentContainer .comment-box .comment-body {
        width: 100%;
    }

    main #comment #commentContainer .comment-box .comment-body .comment-author {
        flex-direction: column;
        align-items: start;
    }
}
