* {
    text-align: center;
}

p {
    margin-bottom: .75rem;
    word-break: break-all;
}
p:last-child {
    margin-bottom: 0;
}

header {
    position: sticky;
    top: 0;
    width: 100dvw;
    width: 100vw;
    background-color: #fcfcfc;
    z-index: 999;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 1rem;
    padding: .5rem;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
}
header a img {
    width: 2.5rem;
}
header nav {
    text-align: start;
    flex-grow: 1;
    width: 100%;
}
header nav a {
    font-size: 1rem;
    color: #444444;
    text-decoration-color: transparent;
    text-underline-offset: 0.375em;
    transition: .5s text-decoration-color ease-in-out;
}
header nav a:hover {
    text-decoration-color: var(--color-accent);
}

main section .heading {
    text-align: center;
}
main section .heading h2 {
    text-align: center;
    position: relative;
    display: inline-block;
    padding: 0 calc(1rem + 45px);
}
main section .heading h2::before,
main section .heading h2::after {
    content: '';
    position: absolute;
    top: 50%;
    display: inline-block;
    width: 45px;
    height: 2px;
    background-color: var(--color-accent);
}
main section .heading h2::before {
    left: 0;
}
main section .heading h2::after {
    right: 0;
}
main section:nth-child(odd) .heading h2::before,
main section:nth-child(odd) .heading h2::after {
    background-color: #fcfcfc;
}

main #about #aboutContent {
    padding: 1rem;
}

main #pattern #links {
    margin-top: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    margin-bottom: .25rem;
}

main #pattern #links a {
    border: 1px solid var(--color-accent);
    border-radius: .25rem;
    text-decoration: none;
    background-color: #fcfcfc;
    color: var(--color-accent);
    transition: .5s all ease-in-out;
    padding: .25rem 1rem;
}

main #pattern #links a:hover {
    background-color: var(--color-accent);
    color: #fcfcfc;
}

main #pattern #externalLinkMessage {
    color: #444444;
}

main #howTo #howToContent {
    margin: .5rem 1rem;
    overflow-x: scroll;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-items: stretch;
    gap: .5rem;
}

main #howTo #howToContent .step {
    background-color: #fcfcfc;
    border-radius: .25rem;
    width: 100%;
    min-width: 50dvw;
    min-width: 50vw;
    position: relative;
    color: var(--color-primary);
    flex: 0 0 auto;
}
main #howTo #howToContent .step .step-no {
    background-color: var(--color-accent);
    color: #fcfcfc;
    align-content: center;
    text-align: center;
    position: absolute;
    border-radius: 100%;
    width: 1.5rem;
    height: 1.5rem;
    top: .5rem;
    left: .5rem;
}
main #howTo #howToContent .step .step-body {
    margin-top: calc(1.5rem + (.5rem * 2));
    padding: .5rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
}
main #howTo #howToContent .step .step-body p {
    margin: 0;
    text-align: start;
}

main #accept #links {
    margin-top: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    margin-bottom: .25rem;
}

main #accept #links a {
    border: 1px solid var(--color-accent);
    border-radius: .25rem;
    text-decoration: none;
    background-color: #fcfcfc;
    color: var(--color-accent);
    transition: .5s all ease-in-out;
    padding: .25rem 1rem;
}

main #accept #links a:hover {
    background-color: var(--color-accent);
    color: #fcfcfc;
}

main #accept #externalLinkMessage {
    color: #444444;
}

@media (max-width: 767px) {
    main #howTo #howToContent {
        flex-wrap: nowrap;
    }
    main #howTo #howToContent .step {
        width: 65dvw;
        width: 65vw;
    }
}
