@use 'variables';

.text-accent {
    background: linear-gradient(transparent 70%, rgba(variables.$color-accent, 50%) 70%);
}
.text-muted {
    color: variables.$color-gray;
}

.visually-hidden {
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
    position: absolute;
}

.btn-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: .5rem;

    a.btn {
        border: 1px solid variables.$color-accent;
        border-radius: .25rem;
        text-decoration: none;
        background-color: variables.$color-white;
        color: variables.$color-accent;
        transition: .25s all ease-in-out;
        padding: .25rem 1rem;

        &:hover {
            background-color: variables.$color-accent;
            color: variables.$color-white;
        }
    }
}
