@use 'reset';
@use 'variables';
@use 'classes';

* {
    box-sizing: border-box;
    font-family: variables.$font-serif;
    word-break: auto-phrase;
}

body {
    width: 100dvw;
    width: 100vw;
    overflow-x: hidden;
    min-height: 100dvh;
    min-height: 100vh;
    background-color: variables.$color-white;
    color: variables.$color-black;
}

h1 {
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
    position: absolute;
}

header {
    position: sticky;
    top: 0;
    left: 0;
    width: 100dvw;
    height: calc((.5rem * 2) + 2.5rem);
    padding: .5rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.5rem;
    background-color: variables.$color-white;
    z-index: 999;
    border-bottom: .25rem solid rgba(variables.$color-accent, 50%);
    box-shadow: 0 0 2.5rem rgba(variables.$color-accent, 50%);

    #brandLogo {
        text-decoration: none;

        img {
            height: 2.5rem;
        }
    }

    #headerNavbarToggler {
        display: none;
        background-color: transparent;
        border: none;
        padding: 0;
        cursor: default;
        height: 100%;
        aspect-ratio: 1/1;
        position: relative;
        z-index: 900;

        &.active {
            span {
                &:nth-of-type(1) {
                    -webkit-transform: translateY(14.5px) rotate(-45deg);
                    transform: translateY(14.5px) rotate(-45deg);
                }

                &:nth-of-type(2) {
                    opacity: 0;
                }

                &:nth-of-type(3) {
                    -webkit-transform: translateY(-14.5px) rotate(45deg);
                    transform: translateY(-14.5px) rotate(45deg);
                }
            }
        }

        @media (max-width: 767px) {
            display: inline-block;
            cursor: pointer;
        }

        span {
            position: absolute;
            width: 100%;
            height: 2.5px;
            border-radius: .25rem;
            background-color: variables.$color-accent;
            left: 0;
            opacity: 1;
            transition: .5s all ease-in-out;

            &:nth-of-type(1) {
                top: 2.5px;
            }

            &:nth-of-type(2) {
                top: 50%;
                bottom: 50%;
                transform: translateY(-50%);
            }

            &:nth-of-type(3) {
                bottom: 2.5px;
            }
        }
    }

    #headerNavbar {
        flex-grow: 1;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1.5rem;
        transition: .5s right ease-in-out;

        @media (max-width: 767px) {
            position: fixed;
            top: 0;
            right: -100dvw;
            width: 100dvw;
            width: 100vw;
            height: 100dvh;
            height: 100vh;
            background-color: variables.$color-white;
            gap: 1rem;
            flex-direction: column;
            justify-content: start;
            align-items: start;
            padding: 1rem;

            &.show {
                right: 0;
            }
        }

        .nav-logo {
            display: none;

            @media (max-width: 767px) {
                display: block;
                height: 3.5rem;
                margin-bottom: 2.5rem;
            }
        }

        .nav-group {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 1rem;

            @media (max-width: 767px) {
                flex-direction: column;
                justify-content: start;
                align-items: start;
            }

            a {
                font-size: 1rem;
                color: variables.$color-black;
                text-decoration-color: transparent;
                text-underline-offset: 0.375em;
                transition: .5s text-decoration-color ease-in-out;

                @media (max-width: 767px) {
                    font-size: 1.5rem;
                }

                &:hover {
                    text-decoration-color: variables.$color-accent;
                }

                &.active {
                    font-weight: bold;
                    color: variables.$color-primary;
                }
            }
        }

        #headerNavbarMembers {
            display: none;
            width: 100%;
            margin-top: auto;
            user-select: none;

            @media (max-width: 767px) {
                display: block;
            }
        }
    }
}

main {
    section {
        padding: 1rem;

        &:nth-of-type(odd) {
            $box-size: 50px;

            background:
                linear-gradient(rgba(#444444, 15%)),
                linear-gradient(45deg, variables.$color-primary 25%, transparent 25%, transparent 75%, variables.$color-primary 75%),
                linear-gradient(45deg, variables.$color-primary 25%, transparent 25%, transparent 75%, variables.$color-primary 75%);
            background-color: variables.$color-secondary;
            background-size: calc($box-size * 2) calc($box-size * 2);
            background-position: 0 0, $box-size $box-size;
            color: variables.$color-white;

            .heading h2::before,
            .heading h2::after {
                background-color: variables.$color-white;
            }
        }

        .heading {
            text-align: center;
            margin-bottom: 1rem;

            h3 {
                font-size: 1.5rem;
                text-align: center;
                position: relative;
                display: inline-block;
                padding: 0 calc(1rem + 45px);

                &::before,
                &::after {
                    content: '';
                    position: absolute;
                    top: 50%;
                    display: inline-block;
                    width: 45px;
                    height: 2px;
                    background-color: variables.$color-accent;
                }

                &::before {
                    left: 0;
                }

                &::after {
                    right: 0;
                }
            }
        }
    }
}

footer {
    padding: 2rem;
    text-align: center;
    color: variables.$color-black;
    border-top: .25rem solid rgba(variables.$color-accent, 50%);

    #catchphrase {
        display: block;
        text-align: center;
        font-style: italic;
    }

    small {
        font-size: 1rem;

        a {
            font-size: 1rem;
            color: inherit;
            text-decoration-color: transparent;
            text-underline-offset: 0.375em;
            transition: .5s text-decoration-color ease-in-out;

            &:hover {
                text-decoration-color: variables.$color-accent;
            }
        }
    }
}
