@use 'common';
@use 'variables';

main {
    text-align: center;

    #about {
        width: 100dvw;
        width: 100vw;
        min-height: 50dvh;
        min-height: 50vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;

        @media (max-width: 767px) {
            height: variables.$main-height-dvh;
            height: variables.$main-height-vh;
        }

        .heading {
            margin-bottom: 0;
        }

        #aboutContent {
            width: 100%;
            height: 100%;
            flex-grow: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 1rem;
            z-index: 1;
            text-shadow: 0 0 5px variables.$color-primary;
            position: relative;

            .about-image {
                position: absolute;
                width: 12.5dvh;
                z-index: 0;
                transform-origin: center center;

                &#aboutImageOkame {
                    top: 0;
                    left: 0;
                    transform: rotate(-25deg);
                }

                &#aboutImageHyottoko {
                    bottom: 0;
                    right: 0;
                    transform: rotate(25deg);
                }
            }
        }
    }

    #pattern {
        #patternContent {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 1rem;
        }
    }

    #howTo {
        #howToContent {
            overflow-x: scroll;
            scrollbar-gutter: stable both-edges;
            scrollbar-color: variables.$color-accent rgba(variables.$color-white, 25%);
            padding-bottom: 1.5rem;
            display: flex;
            justify-content: start;
            align-items: stretch;
            gap: .5rem;

            .step {
                background-color: variables.$color-white;
                border-radius: .25rem;
                width: 50%;
                color: variables.$color-primary;
                flex: 0 0 auto;
                padding: .5rem;

                @media (max-width: 767px) {
                    width: 75%;
                }

                .step-no {
                    display: block;
                    width: 2rem;
                    font-size: 1.5rem;
                    text-align: center;
                    align-content: center;
                    aspect-ratio: 1/1;
                    border-radius: 100%;
                    background-color: variables.$color-primary;
                    color: variables.$color-white;
                }

                .step-body {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    align-items: stretch;
                    height: calc(100% - 2rem);
                    padding: .25rem;
                    text-align: start;

                    p {
                        font-size: 120%;
                    }

                    img {
                        display: block;
                        width: 100%;
                        border-radius: .25rem;
                    }
                }
            }
        }
    }

    #acceptForm {
        #acceptFormContent {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 1rem;
        }
    }
}
